:root {
	--bg: #000000;
	--mono: ui-monospace, Consolas, monospace;

	letter-spacing: 0.18rem;
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
	margin: 0;
}

#root {
	width: 1126px;
	max-width: 100%;
	margin: 0 auto;
	border-inline: 1px solid var(--border);
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

p {
	margin: 0;
}

code {
	font-family: var(--mono);
	display: inline-flex;
	border-radius: 4px;
	font-size: 15px;
	line-height: 135%;
	padding: 4px 8px;
}
